.cabeçalho-moda {
    background-color: #BB86FC;
    color: #f3f1ef;
}

.valores-moda {
    background-color: #424250;
    color: #f3f1ef;
}

.cabeçalho-casa {
    background-color: #00C4B4;
    color: #faf9f9;
}

.valores-casa {
    background-color: #424250;
    color: #f3f1ef;
}